<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary-subtle">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">
        <img src="./assets/picaRFblanco.png" width="50" height="50" alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/home" class="nav-link active" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/catalogo" class="nav-link">Catálogo</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
