  <div class="row p-3">
    <div class="col-6 mb-2 d-flex justify-content-start">
      <a class="btn btn-primary btn-sm" routerLink="/nuevoArticulo">Nuevo artículo</a>
    </div>
    <div class="col-6 d-flex justify-content-end bg-body-secondary rounded p-1">
      <label class="form-label">Filtros</label>
      <div class="container">
        <input type="text" class="form-control form-control-sm" placeholder="Buscar por texto..." [(ngModel)]="filtroArticulo" name="filtroArticulo">
      </div>
      <div class="container">
        <input type="date" class="form-control form-control-sm" placeholder="Buscar" [(ngModel)]="filtroArticuloFecha" name="filtroArticuloFecha">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="row">
        <!-- mostraremos los artículos qe tiene el componente después de haber pasado por los pipes que se han creado que funcionarán a modo de filtro -->
        <div class="card col-3 m-3 p-0" *ngFor="let articulo of articulos | filtroTexto: filtroArticulo | filtroFecha: filtroArticuloFecha">
          <h5 class="card-header card-title text-center">{{ articulo.tipo }}</h5>
          <div class="card-body">
            <h6><strong>{{ articulo.nombre }}</strong></h6>
            <p class="card-text text-light-emphasis">{{ articulo.descripcion }}</p>
            <p class="blockquote-footer">{{ articulo.fechaCreacion.toLocaleDateString('en-GB') }}</p>
          </div>
          <div class="card-body">
            <button class="btn btn-outline-info fixed-bottom position-absolute m-2" routerLink="/detalleArticulo/{{ articulo.id }}">Detalle</button>
          </div>
        </div>
      </div>
    </div>
  </div>





